# This is a basic workflow to help you get started with Actions

name: healthmonk-autodeploy

on:
  push:
    branches: 
      - healthmonk-autodeploy
  pull_request:
    branches: 
      - healthmonk-autodeploy
env:
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_ROLE_FOR_FARGATE: ${{  secrets.AWS_ROLE_FOR_FARGATE  }}
  AWS_ACCESS_KEY_ID: ${{  secrets.AWS_ACCESS_KEY_ID  }}
  AWS_SECRET_ACCESS_KEY: ${{  secrets.AWS_SECRET_ACCESS_KEY  }}
  AWS_REGION: ${{  secrets.AWS_REGION  }}
  AWS_VPC_SUBNET: ${{  secrets.AWS_VPC_SUBNET  }}
  AWS_VPC_SECURITY_GROUP: ${{  secrets.AWS_VPC_SECURITY_GROUP  }}
  AWS_ECS_CLUSTER_NAME: ${{  secrets.AWS_ECS_CLUSTER_NAME  }}
  SERVICE_DISCOVERY_NAMESPACE: ${{  secrets.SERVICE_DISCOVERY_NAME  }}
  PROJECT_NAME: healthmonkstart17-5523
  AWS_S3_BUCKET_NAME: healthmonkstart17-5523.geppetto.link
  
jobs:
  validation:
    runs-on: ubuntu-latest 
    outputs:
        configuration: ${{ steps.branch-commit.outputs.configuration }}
        branch: ${{ steps.ec2.outputs.short_ref }}
        instance: ${{ steps.branch-commit.outputs.instance }}
        hosts: ${{ steps.branch-commit.outputs.hosts }}
        bucket: ${{ steps.branch-commit.outputs.bucket }}
        instance_data_value: ${{ steps.ec2.outputs.INSTANCE_DEV }} 
        run_frontend_jobs: ${{ steps.frontend.outputs.ui}}
        run_backend_jobs: ${{ steps.Backend.outputs.backend }}
        microservices: ${{ steps.microservice.outputs.microservices }}
        container : ${{ steps.microservice.outputs.apigateway }} 
                    ${{ steps.microservice.outputs.authproxy }}
                    ${{ steps.microservice.outputs.systemcredentialmanager }}
                    ${{ steps.microservice.outputs.gcam }} 
                    ${{ steps.microservice.outputs.gepfilemanager }}
                    ${{ steps.microservice.outputs.securitymanager }} 
                    ${{ steps.microservice.outputs.systementry }} 
                    ${{ steps.microservice.outputs.personmanager }}
                    ${{ steps.microservice.outputs.adminmanager }}
                    ${{ steps.microservice.outputs.fluentd }}
                    ${{ steps.microservice.outputs.mongo }}                     
                    ${{ steps.microservice.outputs.vault }}   
                    ${{ steps.microservice.outputs.gepitemtagsmanager }}
                    ${{ steps.microservice.outputs.homedatamanager }} 
                    ${{ steps.microservice.outputs.mealsmanager }}
                    ${{ steps.microservice.outputs.physicaladdressmanager }}
                    ${{ steps.microservice.outputs.dishmanager }}
                    ${{ steps.microservice.outputs.foodmanager }} 
                    ${{ steps.microservice.outputs.medicationmanager }}
                    ${{ steps.microservice.outputs.prescriptionmanager }} 
    steps:
    - name: Check the  branch
      uses: actions/checkout@v2
    - name: Configure the aws cli
      uses: aws-actions/configure-aws-credentials@v1
#       with:
#         aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
#         aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
#         aws-region: ${{ env.AWS_REGION }}
    - name: branch check dev and stage
      id: branch-commit
      run: |
        if [ ${{steps.ecs.outputs.short_ref}} == 'dev' ]; then
        echo "::set-output name=instance::${{ steps.ec2.outputs.ECS_DEV }}" 

        elif [ ${{steps.ecs.outputs.short_ref}} == 'stage' ]; then
        echo "::set-output name=instance::${{steps.ec2.outputs.ECS_STAGE}}" 

        fi  
    - name:  Status of Instance 
      run: |
        echo ${{steps.ecs.outputs.short_ref}} "is" ${{ steps.branch-commit.outputs.instance }}
    - uses: actions/checkout@v3
    - name: Check for changes
      id: diff
      run: |
        if [ $GITHUB_BASE_REF ]; then
        git fetch origin $GITHUB_BASE_REF --depth=1
        export FILE_DIFF=$( git diff --name-only origin/$GITHUB_BASE_REF $GITHUB_SHA )
        echo "Diff between origin/$GITHUB_BASE_REF and $GITHUB_SHA"
        else
        git fetch origin ${{ github.event.before }} --depth=1
        export FILE_DIFF=$( git diff --name-only ${{ github.event.before }} $GITHUB_SHA )
        echo "Diff between ${{ github.event.before }} and $GITHUB_SHA"
        fi
        echo "$FILE_DIFF"
        echo "::set-output name=diff::$( echo "$FILE_DIFF" | sed ':a;N;$!ba;s/\n/%0A/g' )"
    - name: UI to build function
      id: frontend
      run: |
        FILE_DIFF="${{ steps.diff.outputs.diff }}"
        while read path;
        do
        directory="$( echo $path )"
        if [[ $directory != application/clients/desktop/* ]]; then
          echo "::set-output name=ui::notcommited" 
          continue
        else
          echo "::set-output name=ui::commited"
          break
        fi
        done <<< "$FILE_DIFF"
    - name: Backend function to build
      if: ${{ steps.branch-commit.outputs.instance }} == '"running"'
      id: Backend
      run: |
          FILE_DIFF="${{ steps.diff.outputs.diff }}"
          while read path;
          do
          directory="$( echo $path )"
          if [[ $directory != application/services/* && $directory != generator/services/*  ]]; then
            echo "::set-output name=backend::notcommited" 
            continue
          else
            echo "::set-output name=backend::commited"
            break
          fi
          done <<< "$FILE_DIFF"
    - name: Microservices to check run
      if: steps.Backend.outputs.backend == 'commited'
      id: microservice
      run: |
          FILE_DIFF="${{ steps.diff.outputs.diff }}"
          while read path;
          do
          directory="$( echo $path )"
          if [[ $directory == application/services/custom_services/apigateway/* ]]; then
          echo "::set-output name=microservices::commited" 
          echo "::set-output name=apigateway::apigateway"
          continue
        elif [[ $directory == application/services/default_services/authproxy/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=authproxy::authproxy" 
          continue
        elif [[ $directory == application/services/custom_services/foodmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=foodmanager::foodmanager" 
          continue
        elif [[ $directory == application/services/custom_services/dishmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=dishmanager::dishmanager" 
          continue
        elif [[ $directory == application/services/custom_services/gepitemtagsmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=gepitemtagsmanager::gepitemtagsmanager" 
          continue
       
       
        elif [[ $directory == application/services/custom_services/homedatamanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=homedatamanager::homedatamanager" 
          continue
        elif [[ $directory == application/services/custom_services/mealsmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=mealsmanager::mealsmanager" 
          continue
       
          
        elif [[ $directory == application/services/custom_services/personmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=personmanager::personmanager" 
          continue
        elif [[ $directory == application/services/custom_services/physicaladdressmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=physicaladdressmanager::physicaladdressmanager" 
          continue
        elif [[ $directory == application/services/custom_services/prescriptionmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=prescriptionmanager::prescriptionmanager" 
          continue
        elif [[ $directory == application/services/custom_services/medicationmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=medicationmanager::medicationmanager" 
          continue
        elif [[ $directory == application/services/custom_services/systementry/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=systementry::systementry" 
          continue
        elif [[ $directory == application/services/default_services/fluentd/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=fluentd::fluentd" 
          continue
        elif [[ $directory == application/services/default_services/gcam/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=gcam::gcam" 
          continue
        elif [[ $directory == application/services/default_services/gepfilemanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=gepfilemanager::gepfilemanager" 
          continue
        elif [[ $directory == application/services/default_services/securitymanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=securitymanager::securitymanager" 
          continue
        elif [[ $directory == application/services/default_services/systemcredentialmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=systemcredentialmanager::systemcredentialmanager" 
          continue
        elif [[ $directory == application/services/adminmanager/* ]]; then
          echo "::set-output name=microservices::commited"
          echo "::set-output name=adminmanager::adminmanager" 
          continue   
          
            echo "::set-output name=microservices::notcommited"
          fi
          done <<< "$FILE_DIFF"  
#     - name: Creating the aws ECR for each micro service
#       run: |
#           aws ecr create-repository --repository-name gepfilemanager1 --tags Key=project_name,Value=${{ env.PROJECT_NAME }} Key=name,Value=${{ env.PROJECT_NAME }} --region ${{  secrets.AWS_REGION  }}  || true
          
#           aws ecr create-repository --repository-name authproxy1 --tags Key=project_name,Value=${{ env.PROJECT_NAME }} Key=name,Value=${{ env.PROJECT_NAME }} --region ${{  secrets.AWS_REGION  }}  || true
          
  Build_and_upload_docker_images_to_ECR:    
    runs-on: self-hosted
    steps:    
      
      - name: Build, tag, and push image to Amazon ECR
        
        run: |     
          cd application/services/default_services/authproxy
          docker build -t authproxy1 .
          docker tag authproxy1:latest 967636366309.dkr.ecr.us-east-1.amazonaws.com/authproxy1:latest
          docker push 967636366309.dkr.ecr.us-east-1.amazonaws.com/authproxy1:latest
          echo "Successfully built the docker image for authproxy1  and pushed to aws ecr." 
          
          cd ../gepfilemanager
          docker build -t gepfilemanager1 .
          docker tag gepfilemanager1:latest 967636366309.dkr.ecr.us-east-1.amazonaws.com/gepfilemanager1:latest
          docker push 967636366309.dkr.ecr.us-east-1.amazonaws.com/gepfilemanager1:latest
          echo "Successfully built the docker image for gepfilemanager1  and pushed to aws ecr." 
          
                 
               
   # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
